.circle {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 80%;
    background-color: blue;
    z-index: 10;


}

.rectangle {
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}